body{
    background-color: #edeee5;
}
.titleabove
{
    margin-top: 4%;
}
.flight-section
{
    margin-top: 3%;
    margin-bottom: 4%;
}
.main-cont
{
    margin-left: 7%;
    margin-right: 7%;
}

.place-pictures
{
    margin-top: 3%;
}

.hoteltitle
{
    margin-top: 2%;
}

.about
{
    margin-top:4%;
    margin-bottom: 4%;
}

.room-types
{
    margin-bottom: 4%;
}

h3
{
    font-family: 'Varela Round', sans-serif;
}
p
{
    font-family: 'Roboto', sans-serif;
}

.fa-solid
{
    color:blue;
}

.amenities
{
    margin-bottom: 4%;
}

.location
{
    margin-bottom: 4%;
}

.que
{
    margin-bottom: 4%;
}